body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(gradient_bg.jpg);
  background-size: 1500px;
  flex-direction: column;
}
#container {
  box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.1), -3px 3px 6px rgba(0, 0, 0, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2), -8px 8px 15px rgba(0, 0, 0, 0.15);
}